@model ParkyWeb.Models.User;
<form method="post" >
    <input asp-for="Username" type="text" placeholder="User Name" />
    <input asp-for="Password" type="password" placeholder="Passward" />
    <button type="submit" value="submit">Login</button>
</form>